*.dylib
*.o
*.dSYM
*.DS_Store
build/*
build-wsl/*
cpp/rabbit/build/*
*/docs/
__pycache__
*_pb2.py
*.pb.cc
*.pb.h
.vscode/settings.json
protobuf*
abseil-cpp
yaml-cpp
install
test
dist/
python/build/
python/dist/
python/nsb_client.egg-info/*
.vscode
